<%= render 'layouts/top' %>

<div id="sliderFrame">
 <div id="slider">

    <!-- start slideshow -->
    
             <img src="/assets/images/image-slider-1.jpg" alt="" />
            <img src="/assets/images/image-slider-2.jpg" alt="" />
            <img src="/assets/images/image-slider-2.jpg" alt="" />
            <img src="/assets/images/image-slider-3.jpg" alt="" />
            <img src="/assets/images/image-slider-4.jpg" alt="" />
            <img src="/assets/images/image-slider-5.jpg" />
            
  </div>
</div>
  
  <div id="center">

    <div class="flash_slider">

</div>

    <div class="clr"></div>

    <img src="/assets/images/simple_bg.gif" alt="picture" width="980" height="37" />

    <div class="clr"></div>

    <div class="click_blog"> <%= link_to image_tag("/assets/images/Get_in_touch.gif"), new_user_path %>

      <p>Leeway - Something witty here.</p>

      <div class="clr"></div>

    </div>

    <!-- end #slideshow -->

    <div class="clr"></div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
      <div class="port">
        <h2>What We Do</h2>
        <img src="/assets/images/img_1.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="/assets/images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port">
        <h2>A Little About Us</h2>
        <img src="/assets/images/img_2.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="/assets/images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port last">
        <h2>Sign In</h2>
        <%= notice %>
        <div class="clr"></div>




			<form action="sessions/create" method="post" id="contactform">
    		<ol>
				<li>
                <label for="name">User Name</label>
                <input id="name" name="name" class="text" />
                </li>
                <li>
                <label for="password">Password</label>
                <input id="password" name="password" class="text" />
                </li>
                <li class="buttons">
                <input type="image" name="imageField" id="imageField" src="/assets/images/send.gif" class="send" />

                <div class="clr"></div>
                </li>
			</ol>
			</form>








        <div class="bg"></div>
        <a href="#"><img src="/assets/images/test_img.gif" alt="picture" width="38" height="37" border="0" class="floated" style="padding:10px 20px 0 0;" /></a>
        <p style="padding:10px 20px 0 20px;"><strong>John Doe, <br />
          Something endorsing our site here</strong></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
  
  <div class="FBG_blog">
  	<div class="FBG_blog_resize">
  	  <div class="recent">
        <p><span>Your company's welcome message or slogan.</span> <br />
              Donec metus lacus, porta id, auctor sit amet, aliquam eu, lacus. Quisque sagittis vulputate orci. </p>
         </div>
         <div class="clr"></div>
     </div>
     <div class="clr"></div>
   </div>


 <%= render 'layouts/bottom' %>


<!--

<h1>Sign In</h1>


<%= form_tag "/sessions/create" do %>
  <%= label_tag :name %><%= text_field_tag :name %><br>
  <%= label_tag :password %><%= password_field_tag :password %><br>
  <%= submit_tag "Login" %>

<% end %>

-->