<%= render '/layouts/top' %>
<div id="slider2">

<!--
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><p style="color:red;"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
-->


    <h2>Sign Up <%= notice %></h2>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
      <div class="right">
        <h2>Sign Up Form</h2>


        <%= render 'form' %>

        
      </div>
      <div class="left">
        <h2>Contact Details</h2>
        <div class="clr"></div>
        <p>Address:<br />
          901 12th Avenue, P.O. Box 222000<br />
          Seattle, WA 98122-1090</p>
        <div class="bg"></div>
        <p>Telephone: +1 959 603 6035<br />
          FAX: +1 504 889 9898<br />
          E-mail: mail@companyname.com<br />
          Website: www.yoursitename.com</p>
        <div class="bg"></div>
        <p>Quisque malesuada luctus dignissim bibendum a lobortis mauris placerat.</p>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. <br />
          Nulla consequat massa quis enim.</p>
        <img src="/assets/images/r_bg.gif" alt="picture" width="293" height="8" class="floated" /></div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>


<%= render '/layouts/bottom' %>



<!--


<h1>New user</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>

-->
