<%= render '/layouts/top' %>


<div id="slider2">
    <h2><%= @user.user_details.last.fname %> <%= @user.user_details.last.lname %></h2>

  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
      <div class="bigbody">
      	<h2>Profile</h2>
      	<div class="image">
            <img src="/assets/images/hlaurie.jpg" alt="picture" width="175" height="175" />
            <div class="clr"></div>
        </div>
        <div class="about">
        	<h3>About:</h3>
            <div class="about1">
            	<p style="text-align:right;">Name:<br />
           	    Company:<br />
           	    ACC Number:<br />
           	    Age:<br />
           	    Gender:
            	</p>
          </div>
<div class="about2">
           	<p style="text-align:left;"><strong><%= @user.user_details.last.fname %> <%= @user.user_details.last.lname %></strong><br />
       	    <strong><%= @user.addresses.last.address1 %></strong><br />
            <strong>#000<%= @user.id %></strong><br />
       	    <strong>27</strong> <br />
            <strong>Male</strong></p>
</div>
        
        </div>
    <div class="contact">
        	<h3>Contact Information:</h3>
            <div class="contact1">
            	<p style="text-align:right;">Telephone:<br />
            	  Street Address:<br />
            	  City:<br />
            	  Zip Code:<br />
            	E-mail:</p>
</div>
            <div class="contact2">
            	<p style="text-align:left;"><strong><%= @user.addresses.last.phone %></strong><br />
                <strong><%= @user.addresses.last.address2 %></strong><br />
                <strong><%= @user.addresses.last.city %>, <%= @user.addresses.last.state %></strong><br />
                <strong><%= @user.addresses.last.zip5 %></strong><br />
                <strong><%= @user.user_details.last.email %></strong><br /></p>
            </div>
        </div>
      </div>
      <div class="clr"></div>
      <div class="bigbody">
      <br />
      	<h2>Account Information</h2>
        <p style="color:red;"><%= notice %></p>
      </div>
      
      
        <div>

    <div style="width: 980px; margin: 0 auto; padding: 90px 0 40px; font: 0.85em arial;">

        <ul class="tabs" persist="true">

            

            

            <li><a href="#" rel="view1">Addresses</a></li>

            <li><a href="#" rel="view2">Personal Information</a></li>
            <li><a href="#" rel="view3" id="account" >Accounts</a></li>
            <li><a href="#" rel="view4">Credit Cards</a></li>
            <li><a href="#" rel="view5" style="color:red;">Delete Master Account</a></li>

        </ul>

        <div class="tabcontents">

            <div id="view3" class="tabcontent">

                <h3>Accounts</h3><br />
                
                <% @int = 1 %>
                <% @user.user_sites.each do |user_site| %>
				  <tr>
				    <td><p><%= @int %>. <strong><%= user_site.site.url %></strong></td>
				    <% @int = @int + 1 %>
				  
				    <%= link_to "DELETE ACCOUNT", user_site, :method=>:delete, :class=>:destroy ,confirm: 'Are you sure?' %></p>
          </tr>
				  <br />
				<% end %>
				</table>

                

            </div>

            <div id="view4" class="tabcontent">

                <h3>Credit Cards</h3><br />

                <h4>Coming Soon</h4>

			<br />

            </div>

            <div id="view1" class="tabcontent">

                <h3>Addresses</h3>

			    <% @user.addresses.each do |address| %>
			  <tr>
          <p>Company name: 
			    <strong><td><%= address.address1 %></td></strong><br />
          Address:
			    <strong><td><%= address.address2 %></td></strong><br />
          City:
          <strong>
			    <td><%= address.city %></td></strong><br />
          State:
          <strong>
			    <td><%= address.state %></td></strong><br />
          Country:
          <strong>
			    <td><%= address.country %></td></strong><br />
          Zip:
          <strong>
			    <td><%= address.zip5 %></td></strong><br />
          Phone:
          <strong>
          <td><%= address.phone %></td></strong><br />
			    <td><%= link_to 'Edit Address', edit_address_path(address) %></td><br />
          <hr />
			  </tr>
			<% end %>
			</table>

            </div>

            <div id="view2" class="tabcontent">

               
             <h3>Personal Information</h3><br />
              
              <p>Name:  
				    <strong><td><%= @user.user_details.last.fname %></td>
				    <td><%= @user.user_details.last.lname %></td></strong><br />
            Email: 
				    <strong><td><%= @user.user_details.last.email %></td></strong><br />
				    <td><%= link_to 'Edit Information', edit_user_detail_path(@user.user_details.last) %></td>
				  </tr>
				
				</table>                

            </div>

            <div id="view5" class="tabcontent">

                <h3>Delete Account</h3>

                <p style="color:red;">Please read before continuing</p>
                <h4>You are about to delete your account. By clicking 'Delete Account', you will lose all access to your account.</h4><br />

                <%= link_to "DELETE ACCOUNT", "/delete_account" , :confirm => 'Are you sure?' %>
                



            </div>

        </div>
        </p>

    </div>

</div>
      
      
      
      
      
    </div>
  </div>
  <div class="clr"></div>




<%= render '/layouts/bottom' %>




<!--
<p id="notice"><%= notice %></p>

<h2>Profile for <%= @user.name %></h2>
<br>
Your Credit Cards:<br>
  <% @user.credit_cards.each do |cc| %>
    <li><%= cc.number %> as <%= cc.month %></li>
  <% end %>
<br>
<br>
Your Addresses:<br>
  <% @user.addresses.each do |a| %>
    <li><%= a.address1 %> - <%= link_to 'Show', a %></li>
  <% end %>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->