


  <div id="slider2">
    <h2>Address</h2>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
      <div class="right">
        <form action="#" method="post" id="signup">
          <ol>

            <li>
             <label for="address1">Company Name</label>
            </li>
            <li>
              <input id="address1" name="address1" class="text" value="<%= @address.address1 %>"/>
            </li>
            <li>
             <label for="address2">Address</label>
            </li>
            <li>
              <input id="address2" name="address2" class="text" value="<%= @address.address2 %>"/>
            </li>
            <li>
              <label for="city">City</label>
            </li>
            <li>
              <input id="city" name="city" class="smallfield" value="<%= @address.city %>"/>
            </li>
            <li>
              <label for="state">State</label>
              <label for="zip5">Zip</label>
            </li>
            <li>
              <select class="dropdown"><option value="<%= @address.state %>" selected="selected"> </option><option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option></SELECT>
              <input id="zip5" name="zip5" class="xsmallfield" value="<%= @address.zip5 %>"/>
            </li>
            <li>
             <label for="phone">Phone</label>
            </li>
            <li>
              <input id="phone" name="phone" class="smallfield" value="<%= @address.phone %>"/>
            </li>
            

            <li class="buttons">
              <input type="image" name="imageField" id="imageField" src="/assetsimages/submit.png" class="send" />
              <div class="clr"></div>
            </li>
            
            
            
            
            
            
              <div class="clr"></div>
            </li>
          </ol>
        </form>
        
    </div>
  </div>
  <div class="clr"></div>


  <!--

  <%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :zip5 %><br />
    <%= f.number_field :zip5 %>
  </div>
  <div class="field">
    <%= f.label :zip4 %><br />
    <%= f.number_field :zip4 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
