<%= form_for(@user_site) do |f| %>
  <% if @user_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_site.errors.count, "error") %> prohibited this user_site from being saved:</h2>

      <ul>
      <% @user_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @number == nil %>

  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.collection_select :site_id, Site.all, :id, :url %>
  </div>

<% end %>

  <div class="field">
    <%= f.label :username %><br /><br />
    <%= f.text_field :username %><br /><br />
  </div>
  <div class="field">
    <%= f.label :password %><br /><br />
    <%= f.text_field :password %><br /><br />
  </div>
  <div class="actions">
    <br /><br /><br />
    <input type="image" name="imageField" id="imageField" src="/assetsimages/addaccount.png" class="send" />
  </div>
<% end %>