<%= render '/layouts/top' %>

<section id="work-detail-wrapper" class="swipe">
                
        </section> <!--section#work-detail-wrapper-->

<div id="slider">
    <h2>Add Account</h2>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="body_resize">
      <div class="port">
        <h2>Amazon.com</h2>
        <img src="/assets/sites/amazon.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/1">Add Account</a></div>
      <div class="port">
        <h2>AmericanExpress.com</h2>
        <img src="/assets/sites/americanexpress.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/2">Add Account</a></div>
      <div class="port last2">
        <h2>Catster.com</h2>
        <img src="/assets/sites/catster.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/3">Add Account</a></div>
      <div class="clr"></div>
      <div class="port">
        <h2>Chase.com</h2>
        <img src="/assets/sites/chase.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/4">Add Account</a></div>
      <div class="port">
        <h2>Comed.com</h2>
        <img src="/assets/sites/comed.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/5">Add Account</a></div>
      <div class="port last2">
        <h2>ConEdison.com</h2>
        <img src="/assets/sites/conedison.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/6">Add Account</a></div>

      <div class="port">
        <h2>Dogster.com</h2>
        <img src="/assets/sites/dogster.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/7">Add Account</a></div>
      <div class="port">
        <h2>Facebook.com</h2>
        <img src="/assets/sites/facebook.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/8">Add Account</a></div>
      <div class="port last2">
        <h2>GrubHub.com</h2>
        <img src="/assets/sites/grubhub.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/9">Add Account</a></div>
      <div class="clr"></div>
      <div class="port">
        <h2>Intuit.com</h2>
        <img src="/assets/sites/intuit.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/10">Add Account</a></div>
      <div class="port">
        <h2>NetSuite.com</h2>
        <img src="/assets/sites/netsuite.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port last2">
        <h2>Office.com</h2>
        <img src="/assets/sites/office.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="clr"></div>



      <div class="port">
        <h2>SalesForce.com</h2>
        <img src="/assets/sites/salesforce.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port">
        <h2>Seamless.com</h2>
        <img src="/assets/sites/seamless.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port last2">
        <h2>Staples.com</h2>
        <img src="/assets/sites/staples.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="clr"></div>
      <div class="port">
        <h2>SugarCRM.com</h2>
        <img src="/assets/sites/sugarcrm.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port">
        <h2>Twitter.com</h2>
        <img src="/assets/sites/twitter.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port last2">
        <h2>Uber.com</h2>
        <img src="/assets/sites/uber.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="clr"></div>




  <div class="port">
        <h2>VMWare.com</h2>
        <img src="/assets/sites/vmware.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port">
        <h2>WorkDay.com</h2>
        <img src="/assets/sites/workday.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="85" height="26" border="0" class="floated" /></a></div>
      <div class="port last2">
        <h2>WorkMarket.com</h2>
        <img src="/assets/sites/workmarket.jpg" alt="picture" width="276" height="148" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. <br />
        </p>
        <a href="#user_sites/new/1">Add Account</a></div>
      <div class="clr"></div>
      
    </div>
  </div>
  <div class="clr"></div>







    </div>
  </div>
  <div class="clr"></div>


<%= render '/layouts/bottom' %>

  
<!--

<h1>All Supported Sites</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Icon</th>
    <th>Script</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.url %></td>
    <td><%= site.icon %></td>
    <td><%= site.script %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>

-->
